%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

}

.btn-report {
  background-color: #bbb;
  &:hover {
    background-color: #aaa;
  }
}

.a-report {
  color: #bbb;
  &:hover {
    color: #aaa;
  }
}

.btn-danger {
  background-color: #fc3e3b;
  &:hover {
    background-color: darken(#fc3e3b, 10%);
  }
}
