div.proofreading {
  div.passage {
    input[type="text"] {
      outline: none;
      border: none;
      width: auto;
      float: left;
      box-shadow: none;
      margin: 0;
      padding: 0;
      font-family: 'courier new';
    }
  }
}
