div.partner-iframe {
  background-color: $gray;
  width: 880px;
  margin:auto;
}
div.partner-iframe-landing {
  @extend .partner-iframe;
  text-align: center;


  div.header-image {
    margin-left: auto;
    margin-right: auto;
    height: 73px;
    width: 880px;
    background-color: $teal-green;
    img {
      vertical-align: middle;
      padding-top: (73px - 27px) / 2;
    }
  }

  div.heading {
    padding-top: 34px;
    padding-bottom: 34px;
    p {
      font-size: 17px;
    }
    button {
      position: absolute;
      margin-left: 330px;
    }
  }

  .reset-score-modal {
    @extend .modal;
    border-radius: 6px;
    div.modal-inner {
      @include outer-container;
      text-align: center;
      p {
        font-size: 15px;
      }
      div.button-panel {
        button {
          position: relative;
          margin-left: 20px;
        }
      }
    }
  }

  div.story-carousel {
    @include outer-container;
    padding-left: 35px;
    margin-bottom: 34px;
  }

  div.story {
    @include span-columns(4);
    width: 250px;
    background-color: $white;
    border-radius: 6px;
    margin-right: 30px;
    div.number {
      position: relative;
      top: -148px;
      margin-bottom: -40px;
      left: 250px/2 - 20px;
      div.container {
        width: 40px;
        height: 40px;
        border-radius: 6px;
        background-color: $teal-green;
        text-align: center;
        color: $white;
        font-weight: bold;
        font-size: 28px;
      }
    }
    div.image-overlay {
      position: relative;
      top: -20px - 70px;
      margin-bottom: -50px;
      font-weight: bold;
      color: white;
      line-height: 1;
      text-shadow: 0px 0px 6px #000;
      p {
        font-size: 18px;
      }
    }
    p {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      font-size: 14px;
    }
    p.italic {
      font-style: italic;
    }
    button {
      margin-bottom: 28px;
      margin-top: 22px;
      font-size: 17px;
    }
  }
  div.footer {
    background-color: $yellow;
    padding-top: 43px;
    padding-bottom: 43px;
    color: $white;
    h4 {
      padding-bottom: 15px;
      font-size: 20px;
    }
    p {
      font-size: 17px;
    }
  }
}
