$yellow: yellow;
$gray: grey;
div.partner-iframe {
  background-color: $gray;
  min-height: 660px;
  width: 880px;
  margin:auto;
  .heading, .footer, & {
    text-align: center;
  }

  .footer {
    background-color: $yellow;
    margin: 0;
    padding: 0;
  }
}
