doctype html
html(ng-app='quill-grammar' ng-strict-di)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
    script
      |window.onload = function() { Porthole.WindowProxyDispatcher.start(); };
    |<script src="//use.typekit.net/plr0bzn.js"></script>
    |<script>try{Typekit.load();}catch(e){}</script>
    base(href='/')
    //- inject:css
    //- endinject
  body
    ui-view
    //- inject:js
    //- endinject
    |<script src="https://cdn.brainpop.com/games/assets/js/html2canvas.js"></script>
    |<script src="https://cdn.brainpop.com/games/assets/js/cameraProxyDOMCrossDomain.js"></script>
