<dynamic-form template="grammarActivityTemplate"
  ng-model="grammarActivity"
  ng-submit="processGrammarActivityForm()">
</dynamic-form>
<h3>Concept Question Set</h3>
<ul>
  <li ng-repeat="qs in grammarActivity.concepts">
    <select
      ng-options="c.name for c in concepts.concept_level_2 track by c.uid"
      ng-model="qs.concept_level_2"
    ></select>
    <select
      ng-show="qs.concept_level_2"
      ng-options="c.name for c in concepts.concept_level_1 | filterConcepts:qs.concept_level_2.id"
      ng-model="qs.concept_level_1"
    ></select>
    <select
      ng-show="qs.concept_level_1"
      ng-options="c.name for c in concepts.concept_level_0 | filterFBConcepts:qs.concept_level_1.id"
      ng-model="qs.concept_level_0"
    ></select>
    <input type="text" ng-model="qs.quantity" placeholder="Quantity"></input>
    <button ng-click="removeQuestionFromSet(qs)">X</button>
  </li>
</ul>
<button ng-click="addAnotherQuestionToSet()">Add Another Question</button>

