<dynamic-form template="grammarActivityTemplate"
  ng-model="grammarActivity">
</dynamic-form>
<standards-selector model="grammarActivity"></standards-selector>
<h3>Concept Question Set</h3>
<ul>
  <li ng-repeat="qs in grammarActivity.concepts">
    <concepts-selector model="qs" levels="[0,1,2]"></concepts-selector>
    <input type="text" ng-model="qs.quantity" placeholder="Quantity"></input>
    <button ng-click="removeQuestionFromSet(qs)">X</button>
  </li>
</ul>
<button ng-click="addAnotherQuestionToSet()">Add Another Question</button>
<button type="submit" ng-click="processGrammarActivityForm()">Submit Grammar Activity</button>

