$black: #333333;

$incorrectErrorColor: #ffdede;
$notNecessaryErrorColor: #f4d4ff;
$correctColor: #d2ffe8;
$underlinedColor: $black;

//Sentence Bar colors
$tryAgainColor: #ffecd2;

$gray: #ededed;
$yellow: #ea9a1a;
$white: #ffffff;

$teal-green: #00c2a2;

//Proficiency colors
$at-proficiency: #58b146;
$near-proficiency: #f8a724;
$not-proficient: #e8522c;

$sub-link-text: #027360;
