//@import "vendors";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

//@import our colors.
@import "colors";

@import "my-refills/_search-bar.scss";

.grammar-cms {
  @import "my-refills/grammar-cms/base.scss";
}

body {
  overflow-x:hidden;
  // @include outer-container;
  p {
    font-size: 15px;
  }
  p.prompt {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
}

.loading-spinner {
  margin-top: 2em;
  text-align: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 8px 6px -6px #3d3d3d;
	   -moz-box-shadow: 0 8px 6px -6px #3d3d3d;
	        box-shadow: 0 8px 6px -6px #3d3d3d;

  &.narrow {
    max-width: 400px;
  }

  &.wide {
    max-width: 800px;
  }

  &.active {
    -webkit-box-shadow: 0;
  	   -moz-box-shadow: 0;
  	        box-shadow: 0;
  }
}

.errorReportHeading {
  width: 150px;
  text-align: right;
  padding-right: 1em;
}

dl.horizontal {
  margin: 0;

  dt {
    float: left;
    clear: left;
    width: 160px;
    text-align: right;
    font-weight: bold;
    margin-top: 0;
  }

  dt:after {
    content: ":";
  }

  dd {
    padding: 0 0 0.3em 170px;
  }
}



@import "spinner";

@import "play/base.scss";
@import "my-refills/progress-bar.scss";
