//@import "vendors";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

//@import our colors.
@import "colors";

@import "my-refills/_search-bar.scss";

.grammar-cms {
  @import "my-refills/grammar-cms/base.scss";
}

body {
  overflow-x:hidden;
  // @include outer-container;
  p {
    font-size: 15px;
  }
  p.prompt {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
}

.loading-spinner {
  margin-top: 2em;
  text-align: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 8px 6px -6px #3d3d3d;
	   -moz-box-shadow: 0 8px 6px -6px #3d3d3d;
	        box-shadow: 0 8px 6px -6px #3d3d3d;

  &.narrow {
    max-width: 400px;
  }

  &.active {
    -webkit-box-shadow: 0;
  	   -moz-box-shadow: 0;
  	        box-shadow: 0;
  }
}

@import "spinner";

@import "play/base.scss";
@import "my-refills/progress-bar.scss";
