<label for="sentence.new">Practice Question</label>
<input type="text" name="sentence.new" placeholder="Name"
  ng-model="editSentence.title" required/>
<input type="text" name="sentence.description" placeholder="Description"
ng-model="editSentence.description" required/>
<select ng-options="flag.title for flag in flags" ng-model="editSentence.flag"
  placeholder="Flag" required></select>
<select ng-options="cat.title for cat in availableCategories"
  ng-model="editSentence.category" required></select>
<select ng-options="(rule.ruleNumber + '. ' + rule.title) for rule in availableRules" ng-model="tempRule"></select>

<button ng-click="addRule(editSentence, tempRule)">Add Rule</button>

<ul ng-repeat="rule in editSentence.rules">
  <li>
    <h4>{{rule.ruleNumber}}. {{rule.title}}</h4>
    <p>{{rule.description}}</p>
    <input type="text"
       placeholder="Number of Questions from this Rule"
       ng-model="rule.quantity"/>
    <button ng-click="removeRule(editSentence, rule)">X Remove</button>
  </li>
</ul>
<div class="error" ng-show="error">
  <p>{{error}}</p>
</div>

<button
    ng-click="submitSentence(editSentence, true)"
    ng-show="editSentence.rules.length > 0">
  Update
</button>
