<select ng-options="(rule.ruleNumber + '. ' + rule.title) for rule in availableRules" ng-model="tempRule"></select>

<button ng-click="addRule(newSentence, tempRule)">Add Rule</button>

<ul ng-repeat="rule in newSentence.rules">
  <li>
    <h4>{{rule.ruleNumber}}. {{rule.title}}</h4>
    <p>{{rule.description}}</p>
    <input type="text"
       placeholder="Number of Questions from this Rule"
       ng-model="rule.quantity"/>
    <button ng-click="removeRule(newSentence, rule)">X Remove</button>
  </li>
</ul>
<div class="error" ng-show="error">
  <p>{{error}}</p>
</div>

<button
    ng-click="submitNewSentence(newSentence)"
    ng-show="newSentence.rules.length > 0">
  Submit
</button>
