div.results-internal {
  background-color: $white;
  div.results-bar {
    padding: 22px 30px 22px 30px;
    background-color: $gray;
    @include outer-container;
    div.left {
      @include span-columns(2);
    }
    div.middle {
      @include span-columns(6);
    }
    div.right {
      float: right;
      button {
        height: 42px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  div.results-header {
    padding-top: 22px;
    @include outer-container;
    h2 {
      @include span-columns(4);
    }
    div.key-entry {
      @include span-columns(2);
      p {
        padding-top: 5px;
        padding-right: 25px;
        float: right;
      }
    }
  }
}
