<div class="grammar-cms-section">
  <div class="grammar-cms-heading">
    <h2>{{category.title}}</h2>
    <button
      ng-show="!category.resolvedRules"
      ng-click="showRules(category)"
    >Show Rules</button>
  <p>{{category.error}}</p>
  </div>
  <grammar-cms-category-panel
    category="category"
    class="grammar-cms-panel">
  </grammar-cms-category-panel>
</div>
<div ng-show="category.resolvedRules">
  <grammar-cms-rule
    ng-show="rule"
    rule="rule"
    ng-repeat="rule in category.resolvedRules">
  </grammar-cms-rule>
  <button ng-click="hideRules(category)">Hide Rules</button
</div>
