<ul>
  <li><img src="assets/images/newrule.png" ng-click='newRule()' alt="Add Rule" title="Add Rule"/></li>
  <li><img src="assets/images/delete.png" ng-click="showDeleteCategory()" alt="Delete Category" title="Delete Category"/></li>
  <li><img src="assets/images/edit.png" ng-click="editCategory(category)" alt="Edit Category" title="Edit Category"/></li>
</ul>

<grammar-cms-modal-dialog
  show='showNewRuleModal'
  action='saveRule'>
  <form validate ng-submit="$parent.doAction(category, rule)">
    <p>New Rule for {{category.title}}</p>
    <input type="text" name="rule" placeholder="Rule Name" ng-model="rule.title" required/>
    <input type="text" name="description" placeholder="Rule Description"
      ng-model="rule.description" required/>
    <input type="text" name="classification" placeholder="Rule Classification"
      ng-model="rule.classification" required/>
    <input type="submit" value="Add Rule" />
  </form>
</grammar-cms-modal-dialog>

<grammar-cms-delete-modal-dialog show='showDeleteCategoryModal' on-delete="deleteCategory" item="category">
  <p>Deleting this will delete all rules and practice questions in this category.</p>
</grammar-cms-delete-modal-dialog>
