<ul>
  <li><img src="assets/images/newrule.png" ng-click='newRule()' alt="Add Rule" title="Add Rule"/></li>
  <li><img src="assets/images/delete.png" ng-click="showDeleteCategory()" alt="Delete Category" title="Delete Category"/></li>
  <li><img src="assets/images/edit.png" ng-click="editCategory(category)" alt="Edit Category" title="Edit Category"/></li>
</ul>

<grammar-cms-modal-dialog show='showNewRuleModal'>
  <form validate>
    <p>New Rule for {{category.title}}</p>
    <input type="text" name="rule" placeholder="Rule Name" ng-model="rule.title" />
    <input type="submit" ng-click="saveRule(rule)" value="Add Rule" />
  </form>
</grammar-cms-modal-dialog>

<grammar-cms-delete-modal-dialog show='showDeleteCategoryModal' on-delete="deleteCategory(category)" item="category.title">
  <p>Deleting this will delete all rules and practice questions in this category.</p>
</grammar-cms-delete-modal-dialog>
