<ul>
  <li><img src="assets/images/newrulequestion.png" ng-click='showRuleQuestionModal()' alt="Add Rule Question" title="Add Rule Question"/></li>
  <li><img src="assets/images/delete.png" ng-click="showDeleteRule()" alt="Delete Rule" title="Delete Rule"/></li>
  <li><img src="assets/images/edit.png" ng-click="editRule(rule)" alt="Edit Rule" title="Edit Rule"/></li>
</ul>

<grammar-cms-modal-dialog
  show='showNewRuleQuestionModal'
  action='saveRuleQuestion'>
  <form validate ng-submit='$parent.doAction(rule, question)'>
    <p>Adding rule question for rule "{{rule.title}}"</p>
    <input required type="text" name="prompt" placeholder="Prompt"
    ng-model="question.prompt" />
    <input type="text" name="hint" placeholder="Hint"
    ng-model="question.hint" />
    <p><b>Body</b></p>
    <ul>
      <li style="display: block;" ng-repeat="b in question.body">
        <input type="text" ng-model="b" />
      </li>
    </ul>
    <input type="text" name="body" placeholder="Correct Response"
    ng-model="question.tempB" />
    <button type="button" ng-click="addAnswerToBody(question)">
      Add Correct Response
    </button>
    <input required type="text" name="instructions" placeholder="Instructions"
    ng-model="question.instructions"/>
    <input type="submit" value="Add Practice Question" />
  </form>
</grammar-cms-modal-dialog>

<grammar-cms-delete-modal-dialog show='showDeleteRuleModal' on-delete="deleteRule" item="rule">
  <p>This will delete all practice questions for this rule.</p>
</grammar-cms-delete-modal-dialog>
