<div class="passage">
  <div ng-class="{'word':true, 'error-tooltip-item': !isBr(word.responseText)}" ng-repeat="word in passage">
    <p ng-bind-html="word.responseText | trustedHtml" ng-show="isBr(word.responseText)"></p>
    <input
      ng-show="!isBr(word.responseText)"
      type="text"
      ng-class="{focused: word.isFocused, incorrectError: hasIncorrectError(word), notNecessaryError: hasNotNecessaryError(word), changed: word.text !== word.responseText, solvedProblem: hasSolvedProblem(word), underlined: needsUnderlining(word)}"
      ng-readonly="submitted"
      ng-focus="word.isFocused = true"
      ng-blur="word.isFocused = false"
      ng-size="{{word.responseText.length}}"
      ng-model="word.responseText">
    </input>
    <div class="error-tooltip" ng-show="!isBr(word.responseText) && hasErrorToShow(word)">
      <div ng-class="{incorrectError: hasIncorrectError(word), notNecessaryError: hasNotNecessaryError(word), solvedProblem: hasSolvedProblem(word)}">
        <h3>{{groupByName(word.type)}}</h3>
      </div>
    </div>
  </div>
</div>
