<div class="passage">
  <div ng-class="{'word':true, 'error-tooltip-item': !isBr(word.responseText)}" ng-repeat="(index, word) in passage" id="error-tooltip-scroll-{{index}}">
    <p ng-bind-html="space" ng-show="isBr(word.responseText)" id="break-binding-point-{{index}}"></p>
    <input
      autofocus="$first"
      ng-show="!isBr(word.responseText)"
      type="text"
      ng-class="{focused: word.isFocused, incorrectError: word.hasIncorrectError(), notNecessaryError: word.hasNotNecessaryError(), changed: word.text !== word.responseText, correct: word.hasCorrect(), underlined: needsUnderlining(word), tooltipped: word.tooltip.style}"
      ng-readonly="passage.submitted"
      ng-focus="word.isFocused = true"
      ng-change="onInputChange(word)"
      ng-blur="word.isFocused = false"
      ng-size="{{word.responseText.length}}"
      ng-trim="false"
      ng-model="word.responseText">
    </input>
    <div ng-class="getErrorTooltipClass(index)" ng-show="!isBr(word.responseText) && word.hasErrorToShow()"
      ng-style="word.tooltip.style">
      <div ng-class="{incorrectError: word.hasIncorrectError(), notNecessaryError: word.hasNotNecessaryError(), correct: word.hasCorrect()}">
        <div ng-class="getErrorTooltipTopClass(answerImageName(word.type))">
          <div class="img-div">
            <img ng-src="/assets/images/{{answerImageName(word.type)}}_icon.png" alt="{{word.type}}"></img>
          </div>
          <h4>{{word.type}}</h4>
          <p class="counter">{{word.errorCounter()}}</p>
        </div>
        <div class="bottom-panel">
          <h4>Correct Edit:</h4>
          <p ng-show="word.plus">{{word.plus}}</p>
          <p ng-show="!word.plus">{{word.text}}</p>
          <h4 ng-show="!word.hasNotNecessaryError()">Grammatical Concept:</h4>
          <p ng-show="!word.hasNotNecessaryError()">{{word.getGrammaticalConcept(referencedRules)}}</p>
          <button ng-click="word.nextAction.fn()">{{word.nextAction.title}} ➞</button>
        </div>
      </div>
    </div>
  </div>
</div>
