<div class="passage">
  <div ng-class="{'word':true, 'error-tooltip-item': !word.isBr()}" ng-repeat="(index, word) in proofreadingPassage.words" id="error-tooltip-scroll-{{index}}">
    <p ng-bind-html="space" ng-show="word.isBr()" id="break-binding-point-{{index}}"></p>
    <input
      autofocus="$first"
      ng-show="!word.isBr()"
      type="text"
      ng-class="{focused: word.isFocused, incorrectError: word.hasIncorrectError(), notNecessaryError: word.hasNotNecessaryError(), changed: word.text !== word.responseText, correct: word.hasCorrect(), underlined: needsUnderlining(word), tooltipped: word.tooltip.style}"
      ng-readonly="proofreadingPassage.submitted"
      ng-focus="word.isFocused = true"
      ng-change="proofreadingPassage.onInputChange(word)"
      ng-blur="word.isFocused = false"
      ng-size="{{word.responseText.length}}"
      ng-trim="false"
      ng-model="word.responseText">
    </input>
    <proofreading-error-tooltip></proofreading-error-tooltip>
  </div>
</div>
