<div class="partner-iframe-landing">
  <div class="header-image">
    <img src="/assets/images/quill_proofreader_logo.png" alt="quill Proofreader"></img>
  </div>
  <div class="heading">
    <button ng-click="showResetScoreModal = true">Reset</button>
    <div class="reset-score-modal" ng-show="showResetScoreModal">
      <input class="modal-state" type="checkbox" ng-checked="showResetScoreModal"/>
      <div class="modal-window">
        <div class="modal-inner">
          <p>Pressing the reset button will delete all of your results.</p>
          <p>You may create an account at <b>Quill.org</b> to permanentley save your results.</p>
          <div class="button-panel">
            <button ng-click="onScoreReset()">Reset</button>
            <button ng-click="showResetScoreModal = false">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <p>These three stories are filled with grammatical errors.</p>
    <p>Proofread the stories and find them all.</p>
  </div>
  <div class="story-carousel">
    <div class="story">
      <img src="/assets/images/the_princes_and_the_turtle_landing.png" alt="story"></img>
      <div class="number">
        <div class="container">
          1
        </div>
      </div>
      <div class="image-overlay">
        <p class="overlay">The Princess and</p>
        <p class="overlay">the Turtle</p>
      </div>
      <p>In this mythological tale, the turtle escapes from the princess's punishment.</p>
      <p class="italic">This story focuses on incorrect pronouns.</p>
      <a ui-sref="play-pf({uid:'70B-T6vLMTM9zjQ9LCwoCg', brainpop: true})">
        <button>Play it Now</button>
      </a>
      <proofreader-sample-result uid="'70B-T6vLMTM9zjQ9LCwoCg'">
      </proofreader-sample-result>
    </div>
    <div class="story">
      <img src="/assets/images/ernest_shackleton_landing.png" alt="story"></img>
      <div class="number">
        <div class="container">
          2
        </div>
      </div>
      <div class="image-overlay">
        <p class="overlay">Ernest Shackleton</p>
        <p class="overlay">Escapes the Antarctic</p>
      </div>
      <p>Captain Shackleton spent four years at sea before escaping the Antarctic.</p>
      <p class="italic">This story focuses on commonly confused words.</p>
      <a ui-sref="play-pf({uid:'MJCtkml_69W2Dav79v4r9Q', brainpop: true})">
        <button>Play it Now</button>
      </a>
      <proofreader-sample-result uid="'MJCtkml_69W2Dav79v4r9Q'">
      </proofreader-sample-result>
    </div>
    <div class="story">
      <img src="/assets/images/the_apollo_8_photograph_landing.png" alt="story"></img>
      <div class="number">
        <div class="container">
          3
        </div>
      </div>
      <div class="image-overlay">
        <p class="overlay">The Apollo 8</p>
        <p class="overlay">Photograph</p>
      </div>
      <p>Astronaut William Anders snaps the first photo of the Earth taken from the Moon.</p>
      <p class="italic">This story focuses on prepositional phrases.</p>
      <a ui-sref="play-pf({uid:'Yh49ICvX_YME8ui7cDoFXQ', brainpop: true})">
        <button>Play it Now</button>
      </a>
      <proofreader-sample-result uid="'Yh49ICvX_YME8ui7cDoFXQ'">
      </proofreader-sample-result>
    </div>
  </div>
  <div class="footer">
    <h4>Visit Quill.org to save your progress.</h4>
    <p>Quill is free and provides 150 activities from 42 Common Core standards.</p>
    <p>Teachers can create student accounts and monitor students progress.</p>
  </div>
</div>
