$black: #333333;

$incorrectErrorColor: #ffdede;
$notNecessaryErrorColor: #f4d4ff;
$correctColor: #d2ffe8;
$underlinedColor: $black;

//Sentence Bar colors
$tryAgainColor: #ffecd2;

$gray: #ededed;
$yellow: #ea9a1a;
$white: #ffffff;

$teal-green: #00c2a2;

button {
  background-color: $teal-green;
}
button:hover {
  background-color: tint($teal-green, 10%);
}

proofreading {
  @include outer-container;
  @include pad();
}

div.sentence-writing {
  @include outer-container;
  @include pad();
}

@import "../my-refills/modal";
@import "../my-refills/tooltip";
@import "../partner/base";
@import "proofreading/heading";
@import "proofreading/passage";
@import "proofreading/submit-panel";
@import "proofreading/modal";

@import "sentences/concept-overview";
@import "sentences/rule-question";
@import "sentences/sentence-writing-instructions";
@import "activity-progress-bar";
