button {
  background-color: $teal-green;
}
button:hover {
  background-color: tint($teal-green, 10%);
}

proofreading {
  @include outer-container;
  @include pad();
}

div.sentence-writing {
  @include outer-container;
  @include pad();
}

@import "../my-refills/modal";
@import "../my-refills/tooltip";

@import "directives/base";

@import "proofreading/heading";
@import "proofreading/passage";
@import "proofreading/submit-panel";
@import "proofreading/modal";

@import "sentences/concept-overview";
@import "sentences/rule-question";
@import "sentences/sentence-writing-heading";
@import "sentences/sentence-writing";
@import "activity-progress-bar";

@import "results/results";
@import "results/internal-results-table";
