<div class="question">
  <div class="information">
    <img src="/assets/images/information_icon.png" alt="information_icon"/>
    <p ng-bind-html="question.instructions | trustedHtml"></p>
  </div>
  <p class="prompt" ng-bind-html="question.prompt | formatPrompt | trustedHtml"></p>
  <textarea class="student-input" type="text" ng-model="question.response" ng-paste="capturePasteEvent($event)" ng-enter="capturePressEnterEvent()"></textarea>
  <div class="rule-question-sentence-bar" ng-class="questionClass">
    <div class="message-panel">
      <img ng-src="/assets/images/{{questionClass}}_icon.png" alt="responseMessage" ng-show="questionClass && questionClass != 'default'"></img>
      <p ng-show="responseMessage" ng-bind-html="responseMessage | trustedHtml"></p>
    </div>
    <div ng-class="{'no-message': !responseMessage, message: responseMessage}">
      <button ng-show="showCheckAnswerButton" ng-click="checkAnswer()">{{checkAnswerText}}</button>
      <button ng-show="showNextQuestion" ng-click="nextProblem()">Next Problem</button>
    </div>
  </div>
</div>
