<div class="ruleQuestion">
  <div class="information">
    <img src="/assets/images/information_icon.png" alt="information_icon"/>
    <p ng-bind-html="ruleQuestion.resolvedInstructions | trustedHtml"></p>
  </div>
  <p class="prompt" ng-bind-html="ruleQuestion.prompt | formatPrompt | trustedHtml"></p>
  <textarea class="student-input" type="text" ng-model="ruleQuestion.response" ng-paste="capturePasteEvent($event)"></textarea>
  <div class="rule-question-sentence-bar" ng-class="ruleQuestionClass">
    <div class="message-panel">
      <img ng-src="/assets/images/{{ruleQuestionClass}}_icon.png" alt="ruleQuestion.message" ng-show="ruleQuestionClass && ruleQuestionClass != 'default'"></img>
      <p ng-show="ruleQuestion.message" ng-bind-html="ruleQuestion.message | trustedHtml"></p>
    </div>
    <div ng-class="{'no-message': !ruleQuestion.message, message: ruleQuestion.message}">
      <button ng-show="showCheckAnswerButton" ng-click="checkAnswer()">{{checkAnswerText}}</button>
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>
