<div class="question">
  <div class="information">
    <div class="inner-container">
      <img src="/assets/images/information_icon.png" alt="information_icon"/>
      <p ng-bind-html="question.instructions | trustedHtml"></p>
    </div>
  </div>
  <div class="inner-container">
    <p class="prompt" ng-click="speak(question.prompt)" ng-bind-html="question.prompt | formatPrompt | trustedHtml"></p>
  </div>
  <div class="inner-container">
    <textarea class="student-input" type="text" ng-model="question.response" ng-paste="capturePasteEvent($event)" ng-change="startEditing()" ng-enter="capturePressEnterEvent()" ng-timer="resetWPM()" typing-speed autocapitalize="off" autocorrect="off" spellcheck="false"></textarea>
  </div>
  <div class="inner-container">
    <a class="a-report" ng-click="showReport = !showReport" ng-hide="showConfirmation">Report Error</a>
    <div ng-show="showReport">
      <br/>
      <h4>
        Did you find an error in this question?
      </h4>
      <p>
        Please let us know what's wrong, giving as much detail as possible.
      </p>
      <textarea ng-model="question.errorReport"></textarea>
      <button class="btn-report" ng-click="sendErrorReport()">Send Error Report</button>
    </div>
    <div ng-show="showConfirmation">
      <p>
        Thank you. Please continue the lesson for now.
      </p>
    </div>
  </div>
  <div class="rule-question-sentence-bar" ng-class="questionClass">
    <div class="inner-container">
      <div class="message-panel">
        <img ng-src="/assets/images/{{questionClass}}_icon.png" alt="responseMessage" ng-show="questionClass && questionClass != 'default'"></img>
        <p ng-show="responseMessage" ng-bind-html="responseMessage | trustedHtml"></p>
      </div>
      <div ng-class="{'no-message': !responseMessage, message: responseMessage}">
        <button ng-show="showCheckAnswerButton" ng-click="checkAnswer()">{{checkAnswerText}}</button>
        <button ng-show="showCheckOrContinueButton" ng-click="checkOrContinue()">Retry or Continue</button>
        <button ng-show="showNextQuestion" ng-click="nextProblem()">Next Problem</button>
      </div>
    </div>
  </div>
</div>
