.quill-grammar-pf-heading {
  background-color: $gray;
  padding: 15px 30px;
  div.header-image p {
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 6px #000;
  }
  @include outer-container;

  div.instructions {
    margin-top: 0.5em;
    @include span-columns(9);
    img {
      @include span-columns(.82);
    }
    p {
      @include span-columns(10);
      margin-top: 0.4em;
    }
  }

  activity-progress-bar {
    margin-top: 0.5em;
    @include span-columns(3);
  }
}
