.proofreading-modal {
  @extend .modal;
  border-radius: 6px;
  div.modal-inner {
    text-align: center;
    h2 {
      font-size: 21px;
      padding-bottom: 10px;
    }
    p {
      font-size: 15px;
      padding-bottom: 10px;
    }
  }
}
