div.passage {
  background-color: $white;
  margin-left: 30px;
  margin-top: 30px;
  @include span-columns(10);
  @include omega();
  input[type="text"] {
    outline: none;
    border: none;
    width: auto;
    float: left;
    box-shadow: none;
    margin: 0.25px;
    padding: 0;
    font-family: 'courier new';

    &.focused, &.changed {
      font-weight: bold;
    }

    &.incorrectError {
      background-color: $incorrectErrorColor;
    }

    &.notNecessaryError {
      background-color: $notNecessaryErrorColor;
    }

    &.correct {
      background-color: $correctColor;
    }

    &.underlined {
      border-bottom: 1px solid $underlinedColor !important;
    }
  }
  .error-tooltip-item {
    @extend .tooltip-item;
    border: none;
    display: inline-block;
    padding: none;
  }
  .error-tooltip {
    @extend .tooltip;
    height: 259px;
    width: 341px;
  }
  .error-tooltip-reverse {
    @extend .tooltip-reverse;
    height: 259px;
    width: 341px;
  }

  .top-panel {
    &.correct {
      background-color: $correctColor;
    }
    &.incorrect {
      background-color: $incorrectErrorColor;
    }
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

}
