$message-width: 9;
$button-width: 3;
div.passage-submit-panel {
  background-color: $gray;
  margin-top: 30px;
  padding-right: 30px;
  height: 116px;
  &.passage-submitted {
    height: 348px;
  }
  @include span-columns(12);
  .passage-message {
    @include span-columns($message-width);
  }
  button {
    margin-top: 37px;
    @include span-columns($button-width);
    &.no-message {
      @include shift($message-width);
    }
  }
}
