.sentence-tooltip-item {
  @extend .tooltip-item;
  border: none;
  display: inline-block;
  padding: none;
  &:focus,
  &:hover .sentence-tooltip {
    opacity: 1;
    visibility: visible;
  }
}
.sentence-tooltip {
  @extend .tooltip-reverse-no-arrow;
  @include transition (all 0.2s ease-in-out);
  // height: 400px;
  max-width: 500px;
  h2, p {
    text-align: left;
    padding: 25px;
    padding-top: 10px;
    hr {
      padding: 0px;
    }
  }

  p {
    line-height: 1.8em;
  }
}

