.sentence-tooltip-item {
  @extend .tooltip-item;
  border: none;
  display: inline-block;
  padding: none;
  border-radius: 0px;
  &:focus,
  &:hover .sentence-tooltip {
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: 0px 0px 1000px 996px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1000px 996px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1000px 996px rgba(0,0,0,0.75);
  }
  .sentence-tooltip {
    border-radius: 0px;
  }
}
.sentence-tooltip {
  @extend .tooltip-reverse-no-arrow;
  @include transition (all 0.2s ease-in-out);
  // height: 400px;
  border-radius: 0px;
  max-width: 500px;
  h2, p {
    text-align: left;
    padding: 25px;
    padding-top: 10px;
    hr {
      padding: 0px;
    }
  }

  p {
    line-height: 1.8em;
  }
}

