div.ruleQuestion {
  div.information {
    background-color: $gray;
    padding-left: 30px;
    padding-bottom: 10px;
    @include outer-container;
    img {
      @include span-columns(0.6);
    }
    p {
      @include span-columns(10);
    }
  }
}

div.rule-question-sentence-bar {
  @include outer-container;

  margin-top: 58px;

  &.correct {
    background-color: $correctColor;
  }
  &.default {
    background-color: $gray;
  }
  &.tryAgain {
    background-color: $tryAgainColor;
  }
  &.incorrect {
    background-color: $incorrectErrorColor;
  }
  .message-panel {
    @include span-columns(9);
    height: 116px;
  }

  button {
    @include omega();
    margin-top: 37px;
    padding-left: 30px;
    height: 42px;
    padding-right: 30px;
  }

  div.no-message {
    @include shift(9);
  }
  div.message {
    @include span-columns(3);
  }
}
