div.question {
  div.information {
    background-color: $gray;
    padding-left: 30px;
    padding-bottom: 10px;
    @include outer-container;
    img {
      @include span-columns(0.6);
    }
    p {
      @include span-columns(10);
    }
  }
  p.prompt, .student-input {
    padding-left: 30px;
    padding-top:20px;
    font-size: 22px;
    font-family: 'courier new';
  }

  p.prompt {
    margin-bottom: 30px;
  }

  input[type="text"] {
    margin-left: 30px;
    padding-top: 10px;
    width: 95%;
    border-radius: 0px;
    height: 80px;
  }
}

div.rule-question-sentence-bar {
  @include outer-container;

  margin-top: 58px;

  &.correct {
    background-color: $correctColor;
  }
  &.default {
    background-color: $gray;
  }
  &.try_again {
    background-color: $tryAgainColor;
  }
  &.incorrect {
    background-color: $incorrectErrorColor;
  }

  div.message-panel {
    @include span-columns(9);
    min-height: 116px;
    padding-top: 37px;
    padding-left: 25px;
    img {
      @include span-columns(1);
    }
    p {
      padding-top: 5px;
      font-size: 18px;
      @include span-columns(9);
    }
  }
  .button-panel {
    button {
      @include omega();
      margin-top: 37px;
      padding-left: 30px;
      height: 42px;
      padding-right: 30px;
    }
  }
  div.no-message {
    @include shift(9);
    @extend .button-panel;
  }
  div.message {
    @include span-columns(3);
    @extend .button-panel;
  }
}
