div.sentence-writing-heading {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: $gray;
  div.left {
    @include span-columns(9);
    h2 {
      font-size: 22px;
    }
    p.concept-overview {
      color: $teal-green;
      background-color: $gray;
      font-size: 15px;
    }
  }

  div.right {
    @include span-columns(3);
  }
}
